body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	color: #222;
}

/*
  Try changing the box model properties of div and see how it changes
	the element on screen. Try using individual properties
	(i.e. margin-left, padding-right, etc.). Try using shorthand values.
*/

div {
	width: 600px;
	padding: 20px;
	border: 5px solid #ccc;
	margin: 30px;
}


/*
  Notice below, when we want to _remove_ margin, we only use 0. We do
	not have to specify the units. (If I told you something is 0cm or 0mm
	or 0in, does it matter what the unit is? No.)

	How do we know what box model property to remove? This is where your
	developer tools come in handy. Identify what is being applied --
	margin or padding -- via the browser default and remove it.
*/

h1, p {
	margin: 0;
	margin-bottom: 16px;
}
